<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body style="margin: 0;font-family: Arial;">
    <div style="margin: 20px;">
        <div>
            <div style="padding: 10px; color:darkgreen; font-weight: bold;">
                <h2>VoetbalTicketVerkoop.be</h2>
            </div>
            <h4 style="font-weight: bold">Dit is uw ticket</h4>
            <p style="float: left;">
                <b>Ben Borra </b>
            </p>
            <br /><br />
            <h2 style="font-weight bold">AA Gent  vs  Lommel United</h2>
        </div>

        <table style="width: 100%" cellspacing='0' cellpadding='2'>
            <tr>
                <th>
                    <br /><br />
                </th>
            </tr>
            <tr>
                <th>Aanvang wedstrijd:6/07/2016 15:02:00</th>
                <td style="text-align:center"></td>
            </tr>
            <tr>
                <td sty:e="font-weight: bold">Plaats:</td>
            </tr>
            <tr>
                <td></td>
                <td>Koning Boudewijnstadion</td>
            </tr>
            <tr>
                <td></td>
                <td>Brussel</td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <td style="font-weight: bold">Vaknaam: Bovenste Ring Doel Bezoekende Ploeg</td>
            </tr>
            <tr><th></th></tr>
        </table>

        <br />

        <p STYLE="text-align: justify;">
            Beste <br /> <br />
            Dit is het ticket die recht geeft tot u toegang zal geven tot het stadion en het door u gekozen vak.Het ticket is enkel geldig voor de speel datum en tijdstip dat hierboven vermeld staat en in het stadion dat hierboven vermeld staat.Het is niet toegelaten om het ticket door te verkopen. <br />
            Tickets zijn ook enkel geldig wanneer deze bij voetbaltickets.be zijn aangekocht. Wanneer u deze van een andere persoon of website hebt gekocht kunnen wij geen garantie geven dat u toegang zult krijgen tot het stadion.Wanneer enige twijfel mogelijk is heeft het stadion ook altijd het recht u de toegang te ontzeggen.<br />
            Tickets kunnen ook slechts 1 keer gescanned worden. Wanneer een ticket meerdere keren gescanned wordt zal slechts het eerste toegelaten worden tot het stadion.
            <br /> <br />
            Indien u wenst uw ticket te annuleren kan u dit doen tot 1 week voor de wedstrijd.
            <br /><br />
            Zorg ervoor dat onderstaande barcode goed leesbaar is.
            <br /><br />
        </p>
    </div>
</body>
</html>