<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TicketEntities" connectionString="metadata=res://*/ModelTicket.csdl|res://*/ModelTicket.ssdl|res://*/ModelTicket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5024.Smarterasp.net;initial catalog=DB_9FC047_ASPVoe;user id=DB_9FC047_ASPVoe_admin;password=azerty-123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>