@model IEnumerable<Ticket.Model.Clubs>

@Styles.Render("~/Content/Tabel")

@{
    ViewBag.Title = "Overzicht clubs";
}

<h2>Index</h2>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="tabel">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Club", new { id = item.id })">
            <div class="cel">
                <img src="~/@Url.Content(item.logo)" alt="Logo" class="logo" width="200" />
                <hr />
                <div class="naam">
                    @Html.DisplayFor(modelItem => item.naam)
                </div>
            </div>
        </a>
    }
</div>
