@{
    ViewBag.Title = "Email bevestigd";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Bedankt om het email adres te bevestigen.
        <br />
        @Html.ActionLink("Klik hier om aan te melden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
