@{
    ViewBag.Title = "Vergeten paswoord";
}

<hgroup class="title">
    <h1>Paswoord vergeten</h1>
</hgroup>
<div>
    <p>
        Gelieve uw emails te controlleren om het paswoord te resetten.
    </p>
</div>
	
